* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// 把导航栏占据部分空出来
body {
  padding-top: 72px;
}

// 解决返回顶部栏后  有一部分被遮挡的情况(即被导航栏的固定定位占用的高度)
html {
  scroll-padding-top: 72px;
}

// 去除滚动条
::-webkit-scrollbar {
  width: 0 !important;
}
::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}

// nprogress进度条---自定义进度条颜色
#nprogress .bar {
  background: #ff8099 !important; //自定义颜色
  height: 3px !important;
}

//全局样式(主体部分)
.allindexmain {
  width: 900px;
  border: 4px solid whitesmoke;
}

// 只显示一行
.oneline {
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
