* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

// 把导航栏占据部分空出来
body {
  padding-top: 72px;
}

// 解决返回顶部栏后  有一部分被遮挡的情况(即被导航栏的固定定位占用的高度)
html {
  scroll-padding-top: 72px;
}

// 去除滚动条
::-webkit-scrollbar {
  width: 0 !important;
}
::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}

// nprogress进度条---自定义进度条颜色
#nprogress .bar {
  background: #ff8099 !important; //自定义颜色
  height: 3px !important;
}

//全局样式(主体部分)
// .allindexmain {
//   width: 900px;
// }

// 只显示一行
.oneline {
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 分割线
.fgx {
  display: inline-block;
  weight: 1px;
  height: 1px;
  margin-top: 5px;
  background: black;
  position: absolute;
  top: 56px;
  opacity: 0.3;
}

// 字体
.allfont {
  font-weight: 600;
  color: rgb(130, 120, 120);
  font-family: '宋体' !important;
  font-style: normal;
  font-size: 12px !important;
}

// 一行文字 超出省略号
.text-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
